<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.belajarandroiddasar">

<!--    ini artinya HP wajib ada finger print bru bisa install appnya dan ini mode Deklaratif krn langsung dibuat di manifest-->
    <uses-feature android:name="android.hardware.fingerprint" android:required="true" />
<!--    name itu buat manggil class activity -->
    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BelajarAndroidDasar">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <!-- Ini diisi intent Main buat nandain activity ini main -->
                <action android:name="android.intent.action.MAIN" />

                <!-- diisi category Launcher biar langsung dijalankan -->
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>